body {
    width: auto;
    height: auto;
    margin: auto;
}


header {
    background-color:#919191;
    padding:5px;
    height: 20px;
    width: auto;
}
.profile {
    line-height:10px;
    background-color:#eeeeee;
    height:auto;
    width:25%;
    float:left;
    padding:5px;
    text-align: center;
}


footer {
    background-color:#919191;
    clear:both;
    padding:5px;	 	
    height: 20px;
    width: auto;
}

.blue_bar_top {
    background-color: #7f8dc9;
    height: 20px;
}

.blue_bar_bot {
    background-color: #7f8dc9;
    height: 20px;
    clear:both;
}

