.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

body {
  background-color: #222;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

video {
  max-width: 65%;
  height: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.body-container {
  margin-top: 20px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 65%;
  margin: auto;
  margin-top: 20px;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
